@use "../../styles/Theme" as theme;

.iconBtn {
    background-color: theme.$theme;
    border: 1px solid theme.$primary;

    &.md{
        width:60px;
        height:60px;
        font-size: large;
        padding:5px;
        border-radius: 10px;
    }

    & svg{
        width:100%;
        height:100%;
        fill: theme.$text;
    }

    &:hover{
        background-color: theme.$bg-lighter;
    }

    &.active{
        background-color: theme.$bg-lighter;
    }
}